apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
    project: roboshop
    purpose: deployment-nginx
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
      project: roboshop
      purpose: deployment-nginx
  template: 
    metadata:
      labels:
        app: nginx
        project: roboshop
        purpose: deployment-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2
          ports:
            - containerPort: 80
